.container-cad {
    position: absolute;
    overflow-y: scroll;

    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

.val-span {
    color: red;

    margin-top: 5px;
    font-size: 0.8em;
}

.container-cad::-webkit-scrollbar {
    background: white;
    width: 7px;
}

.container-cad::-webkit-scrollbar-thumb {
    background-color: #cf2e2e;
}

.close-button {
    position: absolute;

    top: 10px;
    right: 10px;
}

.waves {
    position: absolute;
    overflow: hidden;

    z-index: -1;
    left: 0;
    right: 0;
    bottom: -5%;
}

.wave-1 {
    animation: wave-balance 5s ease-in-out alternate infinite;
}

.wave-2 {
    opacity: 0.7;

    animation: wave-balance 4s ease-in-out alternate infinite;
}

.wave-3 {
    opacity: 0.6;

    animation: wave-balance 3s ease-in-out alternate infinite;
}

@keyframes wave-balance {
    to {
        transform: translateX(-100px);
    }
}