* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow: hidden;

    min-height: 100vh;
}

label {
    margin-bottom: 10px;
}

.form-check-input {
    border: 1px solid black;
}

.form-check-input:checked {
    background-color: #0170B9;

    box-shadow: 0 0 5px #0170B9;
}

nav {
    background-color: #cf2e2e;
    position: relative;

    box-shadow: 0 5px 10px #00000053;
}

.logo img {
    height: 70px;
}



@media (max-width: 994px) {
    .logo img {
        height: 50px;
    }
}