* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

:root {
    --h-size: 1.4em;
    --p-size: 1.1em;
    --feedback-size: 0.9em;
}

body {
    position: relative;

    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #a02525;
}

section {
    margin-bottom: 70px;
}

label {
    margin-bottom: 10px;
}

a {
    cursor: pointer;
}

.btn {
    font-weight: bold;
}

.form-control:focus,
.form-select:focus {
    border-color: #a02525;
    box-shadow: 0 0 0 0.2rem #cf2e2e3b;
}




.accessibility-menu {
    background-image: linear-gradient(to bottom, #de4141, #ac1f1f);
    position: fixed;
    border: none;

    z-index: 3;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition-duration: .3s;
    box-shadow: 3px 3px 10px #00000081;
}

.accessibility-menu:hover {
    transform: scale(1.2);
}

.accessibility-menu img {
    width: 80%;
}

h4,
h5 {
    font-size: var(--h-size);
}

label,
.card p,
p {
    font-size: var(--p-size);
}

.invalid-feedback {
    font-size: var(--feedback-size);
}



nav {
    background-color: #cf2e2e;
    position: relative;

    box-shadow: 0 5px 10px #00000053;
}

.logo img {
    height: 70px;

    filter: drop-shadow(5px -3px 10px #00000096);
}

.navbar-nav a,
.navbar-nav button,
.navbar-nav .dropdown-item {
    border: none;
}

.navbar-nav .btn,
.navbar-nav .dropdown-toggle {
    background-color: transparent;
    text-align: left;

    width: 100%;
    transition: 0.5s;

    border-bottom: 4px solid transparent;
}

.navbar-nav .btn:active,
.navbar-nav .dropdown-toggle:active,
.navbar-nav .dropdown-toggle:focus {
    border-bottom: 4px solid #00000060;
}

.navbar-nav .dropdown-menu {
    background-color: #ffffffcc;
    box-shadow: 0 0 10px #00000060;

    backdrop-filter: blur(3px);
    animation: dropdown-menu-show 0.3s forwards;
}

@keyframes dropdown-menu-show {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.navbar-nav .dropdown-menu .dropdown-item {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    font-weight: bold;
    color: black;

    font-size: 0.8em;
    transition: .2s;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #cf2e2e;
    color: white;
}

.warning {
    position: absolute;
    font-weight: bold;

    z-index: 10;
    top: 10px;
    left: 50%;
    padding: 10px 30px;
    border-radius: 20px;

    transform: translateX(-50%);
    box-shadow: 0 0 10px #00000071;
    animation: warning 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards,
        warning 1s 4s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse forwards;
}

@keyframes warning {
    from {
        opacity: 0;
        top: -10%;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}



@media (max-width: 994px) {
    .logo img {
        height: 50px;
    }

    .navbar-nav .btn,
    .navbar-nav .dropdown-toggle {
        padding: 20px 20px;
    }

    .navbar-nav .btn:active,
    .navbar-nav .dropdown-toggle:active,
    .navbar-nav .dropdown-toggle:focus {
        border-bottom: none;
    }

    .navbar-nav .dropdown-menu .dropdown-item {
        background-color: #00000015;
        width: 100vw;
        color: white;
    }

    .navbar-nav .dropdown-menu {
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
}