main {
    /* 70px é o tamanho da Navbar */
    height: calc(100dvh - 70px);
}

#screen {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-image: url("../assets/bg-texture.png");

    background-size: 20px;
    padding: 30px;
    gap: 30px;
}

#screen .message-container {
    width: fit-content;

    min-width: 130px;
    padding: 10px 20px;
    border-radius: 20px;

    border: 1px solid #00000030;
    box-shadow: 0 0 10px #00000055;
}

#screen .message-container p {
    color: #000;

    margin: 0;
}

#screen .message-container .message-header {
    font-weight: bold;

    opacity: 0.6;
}

#screen .message-container.me {
    align-self: flex-end;

    background-color: #97b9e8;
}

#screen .message-container.me .message-header {
    text-align: right;
}

#screen .message-container.telecall {
    align-self: flex-start;

    background-color: #e99797;
}


#screen .message-container .message-body {
    position: relative;

    padding-bottom: 13px;
}

#screen .message-container .message-body .time {
    position: absolute;
    font-weight: bold;

    opacity: 0.6;
    font-size: .8rem;
    right: 0px;
    bottom: -5px;
}