main {
    /* 70px é o tamanho da Navbar */
    height: calc(100dvh - 70px);
}

main::before {
    content: '';
    position: absolute;
    background-image: url("../assets/bg-texture.png");
    background-size: cover;
    background-position: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100px;
    z-index: -1;
    opacity: .3;

    filter: invert(.5);
}

#screen {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    padding: 30px;
    padding-top: 70px;
    gap: 30px;
}

#screen .date-container {
    display: flex;
    justify-content: center;
}

#screen .date-container small {
    font-weight: bold;
    color: #00000080;
    background-color: #00000010;

    border-radius: 20px;
    padding: 7px 20px;
}

#screen .message-container {
    width: fit-content;
    word-wrap: break-word;

    max-width: 75vw;
    min-width: 130px;
    padding: 10px 20px;
    border-radius: 20px;

    border: 1px solid #00000030;
    box-shadow: 0 0 10px #00000055;
}

#screen .message-container p {
    color: #000;

    margin: 0;
}

#screen .message-container .message-header {
    display: flex;
    font-weight: bold;
    align-items: center;

    gap: 5px;
}

#screen .message-container .message-body {
    position: relative;

    padding-bottom: 13px;
}

#screen .message-container .message-body .time {
    position: absolute;
    font-weight: bold;

    opacity: 0.6;
    font-size: .8rem;
    right: 0px;
    bottom: -5px;
}


/* Mensagem do usuário comum */
#screen .message-container.me {
    align-self: flex-end;

    background-color: #97b9e8;
}

#screen .message-container.me .message-header {
    text-align: right;
}

/* -------------------------- */

/* Mensagem do usuário telecall */
#screen .message-container.telecall {
    align-self: flex-start;

    background-color: #e99797;
}

#screen .message-container.telecall .message-header {
    border-bottom: 1px solid #00000040;
}

#screen .message-container.telecall .message-header img {
    width: 20px;
}

/* --------------------------- */


#inputs {
    box-shadow: 0 -5px 10px #00000030;
}

#inputs input {
    padding: 15px;
}


@media (max-width: 992px) {
    main {
        height: calc(100dvh - 50px);
    }
}