@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;800&display=swap');

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;

    padding-bottom: 50px;
}

.section-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: fit-content;

    margin-bottom: 20px;

    border-bottom: 4px solid #cf2e2e;
}

.apr-container {
    background-image: url('../assets/main_page/apr.jpg');
    position: relative;
    overflow: hidden;

    background-size: 120%;
    min-height: 70vh;
    padding-bottom: 100px;
    transition-duration: 1s;

    animation: background_move 60s ease-in-out infinite alternate;
}

.apr-container:hover {
    background-size: 117%;
}

@keyframes background_move {
    0% {
        background-position: center 0;
    }

    100% {
        background-position: center 100%;
    }
}

.apr-container::after {
    content: '';
    position: absolute;
    background-color: #00000080;

    width: 100%;
    height: 100%;
}

.apr-wave {
    position: absolute;

    z-index: 2;
    bottom: 0;
    padding: 0;

    filter: drop-shadow(0 -10px 30px black);
}

.apr-content {
    font-family: 'Fira Sans';
    color: white;

    z-index: 1;
}

.apr-content button {
    width: 70%;
}

.apr-container #contactModal {
    backdrop-filter: blur(3px);
}

.about-cpaas img {
    max-width: 400px;

    filter: drop-shadow(0 0 10px #ff000081);
}

.solu-card {
    overflow: hidden;

    width: 15em;
    border-radius: 20px;
    margin-bottom: 30px;
    transition-duration: 0.5s;

    box-shadow: 0 0 10px #00000039;
}

.solu-card:hover {
    transform: scale(1.03);
}

.solu-card img {
    margin: auto;

    width: 70%;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.card-text {
    color: #606060;
    text-align: center;
    font-size: 1.1em;
}


@media (max-width: 994px) {
    .apr-content button {
        width: 100%;
    }

    .solu-card {
        overflow: hidden;

        width: 12em;
    }
}