@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;800&display=swap');

html,
body {
    overflow-x: hidden;
}

@keyframes circleBounce {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(20px);
    }
}

/* Custom Cursor Rules */
.cursor {
    position: absolute;
    display: none;
    cursor: none;
    pointer-events: none;
    background-color: white;

    z-index: 3;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    padding: 5px;

    transition: scale .3s, outline .3s, background-color .3s;
    transform: translate(-50%, -50%);
    outline: 0px solid #ffffffb6;
    box-shadow: 0 0 0px #fff;
}

/* Manter o cursor visivel apenas na seção de apresentação*/
body:has(.apr-container:hover) .cursor {
    display: block;
}

/* Eventos hover do cursor */
body:has(.letter-hover:hover) .cursor,
body:has(.apr-container button:hover) .cursor {
    background-color: transparent;

    opacity: 1;
    scale: 1.5;

    outline: 3px solid #ffffff;
    box-shadow: 0 0 5px 2px #fff;
}

/* Eventos active do cursor */
body:has(.apr-container button:active) .cursor {
    opacity: 1;
    scale: 1;

    outline: 3px solid #ffffff;
    box-shadow: 0 0 5px 2px #fff;
}


.apr-container {
    pointer-events: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #131313;
    cursor: none;
    text-align: center;
    overflow: hidden;

    width: 100%;
    min-height: 110dvh;
}

.apr-container h1 {
    font-family: 'Anton', 'Segoe UI', sans-serif;

    z-index: 2;
    letter-spacing: 3px;
    margin-bottom: 30px;
    font-size: 3.5rem;

    animation: titleBounce 3s infinite alternate ease-in-out;
}

@keyframes titleBounce {

    to {
        transform: translateY(-10px);
    }
}

.letter-hover {
    display: inline-block;

    transition-duration: .5s;
}

.letter-hover:hover {
    color: var(--primary-color);

    text-shadow: 0 7px #ff3d3d6e, 0 0 2px var(--primary-color);
    transform: translateY(-7px);
}

.letter-hover:hover+span,
.letter-hover:has(+ .letter-hover:hover) {
    color: #ffaaaa;

    text-shadow: 0 4px #bc7272;
    transform: translateY(-4px);
}

.apr-container h3 {
    opacity: .6;
    margin-bottom: 200px;
}

.apr-container button {
    position: relative;
    overflow: hidden;
    cursor: none;
    font-weight: bold;
    background-color: #1b1b1b;
    color: #fff;
    border: none;

    width: 100%;
    max-width: 500px;
    padding: 7px 15px;
    border-radius: 20px;
    transition-duration: .3s;

    margin: 0 auto;
    outline: 3px solid #ff000098;
    box-shadow: 0 0 7px 5px #ff00005f;

    -webkit-box-reflect: below 20px linear-gradient(transparent, #00000029);
}

.apr-container button:hover {
    box-shadow: 0 0 40px 5px #ff0000cc;
}

.apr-container button:active {
    transition-duration: .5s;
    opacity: .7;
    scale: 0.98;
}

.apr-container button span {
    position: relative;
}

.apr-container button::before {
    content: '';
    position: absolute;
    background-color: #ff0000;

    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition-duration: .3s;

    transform: translateY(100%);
}

.apr-container button:hover::before {
    transform: translateY(0%);
}

.apr-container::before,
.apr-container::after {
    content: '';
    position: absolute;
    background-color: #ffffff;

    opacity: .05;
    z-index: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.apr-container::before {
    top: -150px;
    left: 50px;
}

.apr-container::after {
    bottom: -50px;
    right: -110px;
}

.apr-container .apr-wave {
    position: absolute;

    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
}



.services {
    position: relative;
    overflow: hidden;
}

.services::before,
.services::after {
    content: '';
    position: absolute;

    z-index: -1;
    opacity: .5;
    width: 250px;
    height: 250px;
    border-radius: 50%;

    box-shadow: 0 0 20px #000000d6;
}

.services::before {
    background-color: var(--secondary-color);

    top: 150px;
    left: 100px;

    animation: circleBounce 5s infinite alternate-reverse 1s ease-in-out;
}

.services::after {
    background-color: var(--primary-color);

    bottom: 60px;
    right: 100px;

    animation: circleBounce 5s infinite alternate ease-in-out;
}

.services .card {
    cursor: pointer;
}

.card {
    transition-duration: .5s;

    box-shadow: 0 3px 10px #00000034;
    backdrop-filter: blur(10px);
}

.card-hover:hover {
    box-shadow: 0 3px 30px #00000034;
    transform: translateY(-10px);
}

:has(.card:hover) .card-hover:not(:hover) {
    opacity: .5;
    scale: .96;
}

.card-hover:active {
    box-shadow: 0 3px 10px #00000034;
    transform: translateY(0px) scale(0.98);
}

.services .card .arrow {
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    transition-duration: .3s;

    border: 3px solid #7e7e7e;
}

.services .card:hover .arrow {
    border: 3px solid transparent;
}

.services .card .arrow img {
    transition-duration: .5s;

    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.services .card:hover .arrow img {
    transform: translateX(20px) scale(1.4);
}

.offcanvas {
    box-shadow: -5px 0 40px #00000071;
}

.offcanvas-img img {
    transition-duration: .3s;
    filter: saturate(1.4) contrast(1.4) drop-shadow(0 0 8px #000000db);
}

.offcanvas-img img:hover {
    scale: 1.1;

    filter: saturate(1.4) contrast(1.4) drop-shadow(0 0 20px #0000006b);
}


.why-text {
    position: relative;
}

.why-text::before {
    content: '';
    position: absolute;
    background-color: var(--primary-color);

    opacity: .4;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 0px;
    right: 20%;

    box-shadow: 0 0 20px var(--primary-color);
    animation: circleBounce 10s infinite alternate ease-in-out;
}



@media (max-width: 768px) {
    .apr-container h1 {
        font-size: 2.5rem;
    }
}